
.navbar{
    background-color: #101b35;
}
.card{
    /* padding: 10px; */
    /* margin-top: 20px; */
}

.card-padding{
    padding: 20px 10px;
}

.card-group{
    /* padding: 10px; */
    /* margin-top: -50px; */
}

.navbar{
    background-color: dodgerblue;
}
.navbar-brand img{
    width: 200px;
    margin-left:20%;
}

.collapse navbar-collapse ,ul ,li a{
    margin-left: 15%;
    
}

.navbar-nav .nav-item{
    margin-right: 30px;
    font-size: 20px;
}
.navbar-nav .nav-item .nav-link:hover{
    text-decoration: underline;
    color: white;
    transition: 0.3s;
}
/* .collapse ,ul ,li .nav-link a{
    padding: 0px 50px;
} */
/* .collapse ,ul ,li a{
    padding: 0px 20px;
} */
h2{
    color: white;
}
h4{
    color: white;
}
p{
    color: white;
}
.text-body{
    color: white;
}
.navber{
    display: flex;
    align-items: flex-start;
    height: 100px; 
}
.row{
    margin-top: 80px;
}
.image-style{
    width: 100%;
    transition: 0.3s;
    /* border-radius: 60%; */
}

.image-style:hover{
    background-color: dodgerblue;
}
.social-btn {
    width: 40px;
    height: 40px;
    border: 2px solid dodgerblue; /* ছবির মতো বেগুনি রঙ */
    border-radius: 50%;
    color: dodgerblue;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
}

.social-btn:hover {
    background: dodgerblue;
    color:white;
}
h3{
    color:white;
}

#social-btn{
    width: 50px;
    height: 50px;
    border: 2px solid dodgerblue; /* ছবির মতো বেগুনি রঙ */
    color: dodgerblue;
    border-radius: 50%;
    
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 30px;
}

#social-btn:hover{
    background: dodgerblue;
    color: white;
    
}

/* .row{
    border: 1px solid white;
} */

.service-card{
    border: 1px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255,255, 255, 10%);
    transition: 0.3s;
}
.service-card:hover{
    box-shadow: 1px 2px 10px 1px white;

}

.card{
    background-color:rgba(255,255, 255, 10%) ;
    border: 1px solid white;
}

.furen-img{
    width: 100%;
    height:200px;
    object-fit: cover;
}




/* .card-padding{
    padding: 10px ,10px;
} */